<mat-toolbar color="accent">
  <a mat-button routerLink="/articles" routerLinkActive="active">Articles</a>
  <a mat-button routerLink="/authors" routerLinkActive="active">Authors</a>
</mat-toolbar>
<div class="info">
  <div class='masthead'>
  <h1 class='masthead-heading1'>Angular</h1>
  <p class='masthead-heading'>Сайт со статьями о технике</p>
</div>
  <section class="introduction-section">
    <h1>Основная информация:</h1>
    <p>Сайт создан в 2020 году. Основной идеей является создание сайта, на котором выводятся статьи не только о технике, но и на многие другие темы.</p>
  </section>

  <footer class="content-footer">
    <ul class="social">
      <li><a class="css-is-deranged" href="https://github.com/SheikhAli5">GitHub</a></li>
    </ul>
  </footer>
</div>


<router-outlet></router-outlet>
