<div class="info"><div class='masthead'>
  <h1 class='masthead-heading'>О данном проекте</h1>
</div>
<section class="introduction-section">
  <h1>Общая информация</h1>
  <p>Данный проект является экзаменационной работой по предмету "Разработка расширенных клиентский WEB приложений на базе Angular"</p>
</section>
<section class="location-section">
  <p>При создании данного проекта я использовал Webshtorm, MicrosoftSQL, PostMan, Sublime Text 3 и Visual Studio.</p>
</section>
<section class="questions-section">
  <h1>Про меня</h1>
  <h2>ФИО: Шейх Солтани Мохаммад Али</h2>
  <p>Телефон: 8 707 330 8285</p>
  <p>Почта: sheikhsoltanimohammadali@gmail.com</p>
</section>

<footer class="content-footer">
  <ul class="social">
    <li><a class="css-is-deranged" href="https://github.com/SheikhAli5">GitHub</a></li>
  </ul>
</footer>
</div>
